body {
    color: black;
    background-color: rgb(247, 185, 134);
    text-align: center;
    margin: 5px;

}

main {
    margin: 5px;
    background-color: rgb(146, 230, 120);
    padding: 40px;
}

header {
    padding: 40px;
    
}